.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #deddf7;
}
.search-input {
  width: 25%;
  height: 30px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #908dd1;
  background-color: transparent;
  color: #908dd1;
  margin-right: 10px;
}
.search-input:focus {
  outline: none;
}
.search-btn {
  height: 35px;
  border: none;
  width: 110px;
  border-radius: 5px;
  background-color: #908dd1;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.search-btn:hover {
  background-color: #9c99e1;
}

.user-head {
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 500;
  color: #908dd1;
}

.users-div {
  width: 90%;
  margin: 0 auto 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.user-block {
  width: 300px;
  margin: 15px;
  border: 1px solid #908dd1;
}
.user-block img{
  height: 350px;
  object-fit: cover;
}
.user-title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #908dd1;
  color: #ffffff;
  font-weight: 500;
  margin-top: -4px;
}